{{#*inline "head-block"}}
    <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.paulefou.com/about">

{{/inline}}
{{#*inline "page"}}

<section id="about">
  <h1>This one is in progres!</h1>
</section>

{{/inline}}
{{~> (parent)~}}