
{{#*inline "page"}}

<section id="about">
  <h1>You can contact me!</h1>
  <p>
      Not on social media tho.
  </p>
  <ul>
      <li>
    <a href="mailto:blog@paulefou.com">
        blog@paulefou.com
    </a>
    </li>
    <li>
    <a href="mailto:work@paulefou.com">
        work@paulefou.com
    </a>
    </li>
    <p>
      If you're searching for some AI solutions, 
      take a look at <a href="https://postdata.ai/">PostData</a>.
      I do a Software Engineering consultancy there.
    </p>
  </ul>
</section>

{{/inline}}
{{~> (parent)~}}