
{{#*inline "page"}}

<section id="about">
  <h1>You can contact me!</h1>
  <p>
      Not on social media tho.
  </p>
  <ul>
      <li>
    <a href="mailto:blog@paulefou.com">
        blog@paulefou.com
    </a>
    </li>
    <li>
    <a href="mailto:work@paulefou.com">
        work@paulefou.com
    </a>
    </li>
  </ul>
</section>

{{/inline}}
{{~> (parent)~}}